/* footer
*******************************************************************/

footer {
  position: relative;
  padding: calc(30px + 5vh) 0 0;
  font-size: 14px;
  border-top: 1px solid $gray-200;

  a {
    color: $body-color;
    text-decoration: underline;
    &:hover,
    &:focus {
      color: rgba($body-color,.7);
    }
  }

  .brand {
    img {
      width: 230px;
      max-width: 100%;
      display: inline-block;
    }
  }

  h6 {
    line-height: 1.3em;
    min-height: 2.6em;
    margin-bottom: 20px;
    font-weight: 500;
  }

  .nav-link {
    padding: 0;
    margin-bottom: 15px;
    @include transition(color .2s ease);
    color: $gray-700;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $app-color-1;
    }
  }

  .nav-link-social {
    margin-bottom: -3px;
    @include transition(color .2s ease);
    color: $gray-300;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $gray-600;
    }
  }

  .footer-bottom {
    padding: 20px 0;
    background-color: $gray-800;
    color: rgba($white, .9);
    font-size: 12px;
    a {
      color: rgba($white, .8);
      &:focus,
      &:hover {
        color: $white;
      }
    }
  }
}

