/* header
*******************************************************************/

header {
    position: sticky;
    top: 0;
    z-index: 101;
    background: linear-gradient(180deg, rgba($gray-900,.8) 0%, rgba($gray-900,.6) 100%);
    @include media-breakpoint-up(lg) {
        background: $white;
        border-bottom: 1px solid $gray-200;
    }
    @include media-breakpoint-down(md) {
        + .jumbotron,
        + main .jumbotron {
            margin-top: -60px;
        }
    }

    .container {
        position: relative;
    }

    body.sm & {
        .brand {
            @include media-breakpoint-up(lg) {
                margin: 10px 0;
            }
            img {
                @include media-breakpoint-up(lg) {
                    width: 150px;
                }
            }
        }
    }

    .brand {
        margin: 10px 0;
        @include media-breakpoint-up(lg) {
            margin: 15px 0;
        }
        img {
            width: 120px;
            @include media-breakpoint-up(md) {
                width: 140px;
            }
            @include media-breakpoint-up(lg) {
                width: 230px;
                @include transition(width .1s ease);
            }
        }
    }

    .navbar-toggler {
        margin-top: -4px;
        padding: 20px;
        margin-right: -20px;
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .nav-lang {
        display: -ms-flexbox;
        display: flex;
        list-style: none;
        margin-right: -20px;
        @include media-breakpoint-down(md) {
            display: none;
        }
        .nav-item {
            position: relative;
            + .nav-item {
                &:before {
                    content: "";
                    position: absolute;
                    top: 8px;
                    height: 20px;
                    display: inline-block;
                    line-height: 0;
                    border-left: 1px solid $gray-400;
                }
            }
            &.active .nav-link {
                color: $gray-900;
            }
        }

        .nav-link {
            padding-left: 10px;
            padding-right: 10px;
            @include media-breakpoint-up(md) {
                padding-left: 20px;
                padding-right: 20px;
            }
            font-size: 14px;
            color: $gray-400;
            @include transition(color .2s ease);
            &:hover {
                color: $gray-900;
            }
        }
    }

    .navbar {

        padding: 0;

        @include media-breakpoint-down(md) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: $white;
            overflow-y: auto;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
        }
        @include media-breakpoint-up(lg) {
            position: relative;
        }

        .navbar-collapse {
            &.collapsing,
            &.collapse.show {
                @include media-breakpoint-down(md) {
                    height: 100vh !important;
                    max-width: 690px;
                    margin: 0 auto;
                    padding: 0;
                    @include transition(height 0s ease);
                }
                @include media-breakpoint-only(sm) {
                    max-width: 510px;
                }
                @include media-breakpoint-only(xs) {
                    max-width: 100%;
                }
            }
            .close-collapse {
                padding: 16px 2px 20px 20px;
                font-size: 16px;
                cursor: pointer;
                text-align: right;
                @include media-breakpoint-up(lg) {
                    display: none;
                }
                @include media-breakpoint-only(xs) {
                    padding-left: 17px;
                }
            }
            .navbar-nav {
                @include media-breakpoint-up(lg) {
                    margin: 0 -20px;
                    width: calc(100% + 40px);
                }
                @include media-breakpoint-only(xs) {
                    padding: 0 15px;
                }
                > .nav-item {
                    position: static;
                    &.nav-item-social {
                        margin-left: auto;
                        @include media-breakpoint-down(md) {
                            display: none;
                        }
                        &:before {
                            display: none !important;
                        }
                        .nav-link {
                            padding-left: 8px;
                            padding-right: 8px;
                            padding-bottom: 5px;
                            color: $gray-300;
                            @include transition(color .2s ease);
                            &:hover {
                                color: $gray-600;
                            }
                        }
                        ~ .nav-item-social {
                            margin-left: 0;
                        }
                    }
                    &:last-child {
                        margin-left: 10px;
                    }
                    @include media-breakpoint-down(md) {
                        border-bottom: 1px solid $gray-200;
                    }
                    + .nav-item {
                        border-bottom: 1px solid $gray-200;
                        @include media-breakpoint-up(lg) {
                            border-bottom: 0;
                            &:before {
                                content: "";
                                position: absolute;
                                top: 12px;
                                height: 12px;
                                display: inline-block;
                                line-height: 0;
                                border-left: 1px solid $gray-700;
                            }
                        }
                    }
                    > .nav-link {
                        color: $gray-800;
                        padding: 6px 20px 10px;
                        font-weight: 500;
                        @include media-breakpoint-down(md) {
                            padding: 10px 0;
                            border: 0;
                        }
                        border-bottom: 4px solid $white;
                        &.active,
                        &:hover {
                            border-bottom-color: $app-color-1;
                        }
                        &.dropdown-toggle {
                            &::after {
                                display: none;
                            }
                            &[aria-expanded="true"] {
                                border-bottom-color: $app-color-1;
                            }
                        }
                    }
                    .collapse-dropdown {
                        position: absolute;
                        width: 100vw;
                        left: 50%;
                        transform: translateX(-50%);
                        box-shadow: 50vw 10px 20px 1px rgba($black,.5), -50vw 10px 20px 1px rgba($black,.5);
                        background-color: $gray-800;
                        @include media-breakpoint-down(md) {
                            position: fixed;
                            top: 0;
                            height: 100vh;
                            width: 100vw;
                            background-color: $white;
                        }
                        &.collapsing,
                        &.collapse.show {
                            @include media-breakpoint-up(lg) {
                                max-height: calc(100vh - 200px);
                            }
                            @include media-breakpoint-down(md) {
                                overflow-y: auto;
                                overflow-x: hidden;
                                -webkit-overflow-scrolling: touch;
                                @include transition(height 0s ease);
                            }
                        }
                        &.collapse.show {
                            overflow-y: auto;
                            overflow-x: hidden;
                            -webkit-overflow-scrolling: touch;
                        }

                        .close-collapse {
                            color: $white;
                            @include media-breakpoint-down(md) {
                                color: $body-color;
                            }
                            font-size: 16px;
                            cursor: pointer;
                            margin-left: -20px;
                        }
                        .close-dropdown {
                            color: rgba($white, .4);
                            @include media-breakpoint-down(md) {
                                color: rgba($body-color, .4);
                            }
                            font-size: 12px;
                            position: absolute;
                            cursor: pointer;
                            right: 0;
                            top: -24px;
                            &:hover {
                                color: rgba($white, .9);
                                @include media-breakpoint-down(md) {
                                    color: rgba($body-color, .9);
                                }
                            }
                            @include media-breakpoint-down(md) {
                                position: relative;
                                top: 0;
                                font-size: 16px;
                            }
                        }

                        .collapse-dropdown-title {
                            font-size: 22px;
                            color: $white;
                            @include media-breakpoint-down(md) {
                                color: $body-color;
                            }
                            margin-top: -2px;
                        }

                        .collapse-dropdown-body {
                            padding: 40px 0;
                            @include media-breakpoint-only(xl) {
                                max-width: 1110px;
                                margin: 0 auto;
                            }
                            @include media-breakpoint-only(lg) {
                                max-width: 932px;
                                margin: 0 auto;
                            }
                            @include media-breakpoint-only(md) {
                                max-width: 690px;
                                margin: 0 auto;
                                padding-top: 0;
                            }
                            @include media-breakpoint-only(sm) {
                                max-width: 510px;
                                margin: 0 auto;
                                padding-top: 0;
                            }
                            @include media-breakpoint-only(xs) {
                                max-width: 100%;
                                padding-top: 0;
                                padding-left: 20px;
                                padding-right: 20px;
                            }
                            .industry-box {
                                height: 200px;
                                @include media-breakpoint-up(sm) {
                                    height: 220px;
                                }
                                @include media-breakpoint-up(md) {
                                    height: 260px;
                                }
                            }
                            .dropdown-item {
                                color: rgba($white,.8);
                                border-bottom: 1px solid rgba($white,.3);
                                @include media-breakpoint-down(md) {
                                    color: $body-color;
                                    border-bottom: 1px solid rgba($body-color,.2);
                                }
                                padding: 10px 0;
                                font-weight: 300;
                                white-space: normal;
                                &:focus,
                                &:hover {
                                    background: none;
                                    color: $app-color-1;
                                    font-weight: 400;
                                }
                            }
                            .collapse-subDropdown {
                                padding-left: 20px;
                                .collapse-dropdown-body {
                                    padding: 10px 0 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
