/* reboot
*******************************************************************/
html {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $body-color;
  overflow-x: hidden;
}

a {
  color: $app-color-1;
}