/* reboot
*******************************************************************/
html {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $body-color;
}

a {
  color: $app-color-1;
  &:focus,
  &:hover {
    color: darken($app-color-1, 10%)
  }
}
